.hero {
    background: #39c91c;
    background: linear-gradient(90deg,rgba(57, 201, 28, 1) 0%, rgba(9, 121, 82, 1) 35%, rgba(138, 230, 255, 1) 100%);
    text-align: center;
}

.card {
  width: 300px;
}

.card img {
  object-fit: fill;
}

.hero {
  background: #50626b;
  background: linear-gradient(90deg, rgba(80, 98, 107, 1) 0%, rgba(138, 118, 118, 1) 25%, rgba(117, 107, 113, 1) 41%, rgba(95, 95, 108, 1) 50%, rgba(114, 125, 156, 1) 72%, rgba(39, 65, 97, 1) 100%, rgba(59, 24, 115, 1) 100%);
  text-align: center;
}

.card {
  width: 300px;
}

.card img {
  object-fit: fill;
}

.resultados {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.card-content {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}

.content {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}

.carregando {
  text-align: center;
  display: none;
}

.carregando h3 {
  margin-bottom: 15px;
}

.section-resultados {
  padding-top: 0;
}